@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //TempData["username"] = " ";
    //TempData["username"] = "Chase";
}

    <br />
    <br />
    <div class="jumbotron">
        <h1 class="display-3">Best Bank Ever</h1>
        <p class="lead">This is the best bank you will ever have the opportunity to be a client at!</p>
        <hr class="my-4">
        <p>Here at our esteemed establishment we provide the best service in the nation.</p>
        <br>
        <p>Thank you for choosing us!</p>
    </div>
