@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ContactModel
@{
    ViewData["Title"] = "Login";
}
@{
    Session session;
    session = Program.getSession();
    
    if (session.IsUserSet())
    {
        Response.Redirect("/");
    }


}


<br />
<br />
<h1>Login</h1>
<br />
<br />
<form action="" method="post">
    <fieldset>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <br />
        <input type="hidden" name="formname" value="myform" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
